html,
body {
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
    margin: 0;
    padding: 0;
    width: 100% !important;
}

label {
    margin-bottom: 0;
}

.whole-wrap .ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
    background-color: transparent;
}

.whole-wrap .ant-layout-sider-trigger {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0;
    cursor: pointer;
    height: 48px;
    line-height: 48px;
    background: #fff;
    color: #3f3f3f;
}

.ant-tabs:not(.ant-tabs-vertical)>.ant-tabs-content {
    width: 100%;
    height: 100%;
}

.errorHint {
    color: #ff0000;
}

.form-item-vertical {
    margin-bottom: 8px;
}

.card-page {
    background-color: #FEFEFE;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.card-body {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 1px 0 0 8px;
}

.card-div {
    float: left;
    margin-left: 16px;
    margin-bottom: 16px;
}

.toolbar-card {
    margin-top: 16px;
    margin-bottom: 12px;
    height: 30px;
    line-height: 30px;
    padding: 0 16px 0 24px;
    width: 100%;
    overflow: hidden;
}

.grid-page {
    background-color: #FEFEFE;
    width: 100%;
    /*height: 100%;*/
    /*overflow: hidden;*/
    position: relative;
}

.table-box {
    padding: 30px;
    background-color: #fff;
}

.grid-body {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 0 12px 8px 20px;
}

.toolbar-table {
    margin-bottom: 12px;
    width: 100%;
    overflow: hidden;
}

.tab-page {
    background-color: #FEFEFE;
    width: 100%;
    height: 100%;
    padding-top: 16px;
    overflow: hidden;
}

.form-body {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 24px 24px 0 24px;
}

.toolbar-icon {
    padding-left: 8px;
    padding-top: 8px;
    cursor: pointer;
    font-size: 16px;
}

.full-page {
    background-color: #FEFEFE;
    width: 100%;
    height: 100%;
}

/*.whole-wrap .left-side {*/
/*background-color: #fff;*/
/*min-height: 100%;*/
/*}*/

.left-tree {
    height: 100%;
    padding-top: 2px;
    padding-left: 8px;
    border-right: 1px solid #e2e2e2;
}

.left-list {
    height: 100%;
    padding-top: 8px;
    padding-left: 8px;
    border-right: 1px solid #e2e2e2;
}

.form-page {
    background-color: #FEFEFE;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}


.btn-margin {
    margin-left: 6px;
}

.btn-opera-margin {
    margin-left: 6px;
}

.content-left {
    padding-left: 20px;
}

.modal-vertical-line {
    display: inline-block;
    height: 18px;
    width: 2px;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, .4);
    margin-right: 12px
}

.modal-btn-margin {
    margin-left: 20px;
    margin-right: 14px;
    color: #40a9ff;
    border-color: #40a9ff;
}

.modal-line {
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.09);
    margin-top: 20px;
}

.modal-form-wrap {
    padding-top: 25px;
}

.modal-form-wrap .modal-btn-align {
    text-align: right;
}

.modal-form-wrap .form-item-horizontal {
    margin-bottom: 16px;
}

.whole-wrap {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.whole-wrap .right-side {
    height: 100%;
    width: 100%;
    overflow: auto;
    position: relative;
}

/*.whole-wrap .lz-header{*/
/*width: 100%;*/
/*flex-shrink: 0;*/
/*flex-grow: 0;*/
/*height: 56px;*/
/*}*/
/*.whole-wrap .lz-content{*/
/*width: 100%;*/
/*height:100%;*/
/*padding-top: 56px;*/
/*margin-top: -56px;*/
/*}*/
.whole-wrap .lz-content-inner {
    background-color: #fefefe;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.modal-wrap .ant-form-item {
    margin-bottom: 10px;
}


/*!* 设置滚动条的样式 *!*/
/*::-webkit-scrollbar {*/
/*width: 8px;*/
/*height: 8px;*/
/*}*/
/*!* 滚动槽 *!*/
/*::-webkit-scrollbar-track {*/
/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4);*/
/*border-radius: 10px;*/
/*}*/
/*!* 滚动条滑块 *!*/
/*::-webkit-scrollbar-thumb {*/
/*border-radius: 10px;*/
/*background: #6e6e6e;*/
/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4);*/
/*}*/
/*::-webkit-scrollbar-thumb:window-inactive {*/
/*background: rgba(110, 110, 110, 0.3);*/
/*}*/

/*wisdom-park start*/
/*.content-wrap{*/
/*padding-top: 14px;*/
/*min-width: 1100px;*/
/*}*/
.btn-icon-margin {
    margin-left: 8px;
}

.ant-tabs-bar {
    padding-left: 20px;
}

.ant-layout-sider-trigger {
    border-right: 1px solid #e8e8e8;
}

.ant-table-thead>tr>th.ant-table-selection-column {
    width: 5%;
}

/*wisdom-park end*/

/*antd reset css start*/
#app .ant-menu-item {
    margin-top: 0;
    margin-bottom: 0;
}

.card-p p {
    margin-bottom: 12px;
}

.table-filter {
    position: absolute;
    right: 12px;
    top: 20px;
}

.ant-breadcrumb-link {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
    vertical-align: top;
}

.BraftEditor-container button {
    line-height: normal;
}

/*antd reset css end*/
.table-list-delete {
    color: #f5222d;
}

/*bussiness css*/
div.line-color {
    background-color: #ccc;
}

/*页面数据通用样式*/
.data-list-box {
    height: 106px;
    margin-bottom: 24px;
    padding: 22px 0;
    background-color: #fff;
    display: flex;
}

.data-list-box .list {
    flex-grow: 1;
    text-align: center;
    border-right: 1px solid #E8E8E8;
    width: 33.333%;
}

.data-list-box .list:last-child {
    border: 0;
}

.data-list-box .num-show {
    font-size: 26px;
    margin-top: 4px;
    animation: slowShow .2s linear;
}

@keyframes slowShow {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.lz-filter-input .ant-form-item-control-wrapper {
    display: inline-block;
    vertical-align: middle;
}

.table-operation {
    display: inline-block;
    margin-bottom: 16px;
}

.table-operation .ant-btn {
    margin-right: 8px;
}

.filter-wrap {
    width: 100%;
}

.filter-list {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 16px;
}

.filter-component {
    width: 20%;
    margin-right: 30px;
}

.filter-component>div {
    width: 100%;
}

.filter-reset {
    color: #1890FF;
    margin-right: 16px;
    vertical-align: middle;
}

.filter-add {
    float: right;
}

.login-again.ant-confirm .ant-confirm-btns {
    float: none;
    text-align: center;
    margin-top: 40px;
}

.search-box {
    float: right;
}

.padding-top {
    padding-top: 25px;
}

.flex-wrap {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    overflow: hidden;
    margin-bottom: 25px;
}

.flex-box {
    margin-right: 20px;
    width: 300px;
    height: 200px;
    background: #fff;
}

.shaw_box {
    flex: auto;
    margin: 0 10px;
    float: left;
    width: 25%;
    padding: 20px 24px 8px;
    height: 150px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(161, 171, 181, .48), 0 2px 4px 0 rgba(213, 222, 231, .64);
}

.shaw_box:hover {
    width: 25%;
    height: 150px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(134, 144, 148, 0.425), 0 2px 4px 0 rgba(149, 160, 170, 0.404)
}
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }
.icon_boxa,.icon_boxb,.icon_boxc,.icon_boxd{
    margin-top: 16px;
    width: 80px;
    height: 80px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    font-size: 50px;
    transition: all .38s ease-out;
    float: left;
}
/* .icon-size{
    cursor: pointer;
    font-size: 50px;
    transition: all .38s ease-out;
} */

.icon-size:hover{
    color: #ffffff;
    transition: all .38s ease-out;
}
.icon_boxa:hover{
    color: #ffffff;
    background: #40c9c6;
    transition: all .38s ease-out;
}
.icon_boxb:hover{
    background: #36a3f7;
    transition: all .38s ease-out;
}
.icon_boxc:hover{
    background: #f4516c;
    transition: all .38s ease-out;
}
.icon_boxd:hover{
    background: #34bfa3;
    transition: all .38s ease-out;
}
#div3 a:hover {
    background:red;
    color:white;
}
.colora{
    color: #40c9c6;
}
.colorb{
    color: #36a3f7;
}
.colorc{
    color: #f4516c;
}
.colord{
    color: #34bfa3;
}
.right-box{
    float: right;
    font-weight: 700;
    margin: 26px;
    margin-left: 0;
}
.right-box p:nth-child(1){
    line-height: 18px;
    color: rgba(0,0,0,.45);
    font-size: 16px;
    margin-bottom: 12px;
}
.right-box p:nth-child(2){
    font-size: 20px;
    color: #666;
}
.marbott{
    margin-bottom: 24px;
}
.marrigt{
    margin-right: 10px;
    width: 120px;
    height: 50px;
}
.table-main{
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    margin: 0;
    margin-bottom: 20px;
}
.tags-name{
    display: inline-block;
    text-align: left;
    cursor: pointer;
    min-width: 95px;
}
.table-main tbody td{
    border: 1px solid #eee;
}
.table-main tbody tr{
    height: 80px;
}
/*表格操作框 ant-divider*/
.table_opts span::before{
	content: "";
	margin: 0 8px;
	display: inline-block;
	height: .9em;
	width: 1px;
	vertical-align: middle;
	position: relative;
	top: -.06em;
	background: #e8e8e8;
}
.table_opts span:first-child::before{
	width: 0;
	margin: 0;
}
.cloud-readonly-message{
	padding-left: 10px;
}

